@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    display:flex;
    flex-direction: column;
}
/* HEADER */

.logo {
    font-size: 1rem;
    font-weight: 900;
    color: #F9FAF8;
}

.header{
    font-size: 1rem;
    background-color: #1F2937;
    color: white;    
    padding: 15px 300px; 
    
}   

.head{
    display: flex;  
    justify-content:space-between;
    align-items: center;     
    flex-wrap: wrap;
    
    
}

.poster {
    display: flex;   
    flex-direction: row; 
    justify-content: space-around;  
    align-items: center;
    gap: 100px; 
    padding-top: 80px; 
    padding-bottom: 80px; 
    
}

.placeholder {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; 
    width: 700px;   
}

ul {
    list-style-type: none;
    display: flex;    
    gap: 30px;   
    
}    

a {
    /* this removes the line under our links */
    text-decoration: none;  
    color: white; 
    font-size: 18px;
    color: #E5E7EB; 
  }

button {
    background-color: #3882F6;
    border: none;    
    border-radius: 8px;
    padding: 8px 24px;
    color: white;
}

p {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    padding: 15px 300px;
}
.title {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.cont_projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.sub_cont_pro{
    display: flex;
    flex-direction: column;
    width: 200px;
}

/* PHRASE */
.cont_phrase {
    display: flex;
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    justify-content: center;
    padding: 15px 300px;
}
.phrase {
    display: flex;
    flex-direction: column;
    padding: 70px;
    width: 1000px;
    
    
}
#author {
    align-self: flex-end;
    font-weight: bold;
}

/* BUTTON */
.button_c{
    display: flex;        
    color: white;    
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    
}

.container_button{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px;
    /* margin: 30px; */
    /* padding: 20px; */
    width: 1200px;
    
}


#btn {
    border: 2px solid #FFF;   
}

/* FOOTER */
.footer_c {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    height: 100px;
    align-items: center;
    padding: 15px 300px;
}


/*  What can you do with a media query and flexbox? */
@media (max-width: 600px) {
    .poster {
        flex-wrap: wrap;        
    }  
}